<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader - Home</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="icon" href="/images/cloud.svg" type="image/svg+xml" />
    <script src="script.js" defer></script>
  </head>
  <body>
    <%- include('navbar.ejs')%>
    <div class="section hero">
      <img src="/images/upload-icon.svg" alt="File Sharing Icon" />
      <div>
        <h1>Effortless File Uploading</h1>
        <p>
          Upload, manage, and share your files securely with our fast and
          reliable file uploader. No more hassle—just seamless file transfers.
        </p>
        <a href="/sign-up" class="cta-button">Get Started</a>
      </div>
    </div>

    <div class="section security">
      <img src="/images/security-icon.svg" alt="File Sharing Icon" />

      <div>
        <h2>Security You Can Trust</h2>
        <p>
          We prioritize your data security with end-to-end encryption, ensuring
          your files remain safe and protected from unauthorized access.
        </p>
      </div>
    </div>

    <div class="section features">
      <div>
        <h2>Download & Share with Ease</h2>
        <p>
          Easily download and share files with your friends, colleagues, or
          clients. Our platform provides seamless access to your stored files
          anytime, anywhere.
        </p>
      </div>
      <img src="/images/download-icon.svg" alt="File Sharing Icon" />
    </div>

    <%- include('footer')%>
    <script>
      function toggleMenu() {
        const mobileNav = document.getElementById("mobileNav");
        mobileNav.classList.toggle("show");
      }
    </script>
  </body>
</html>
