<nav class="navbar">
  <div class="logo">FileUploader</div>
  <span class="menu-btn" onclick="toggleMenu()">&#9776;</span>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/comming-soon">FAQ</a></li>
    <li><a href="/login">Log in</a></li>
    <li><a href="/sign-up">Create account</a></li>
    <li><a href="/comming-soon">Contact support</a></li>
  </ul>
</nav>

<div class="mobile-nav" id="mobileNav">
  <span class="close-btn" onclick="toggleMenu()">&times;</span>
  <a href="/">Home</a>
  <a href="/comming-soon">FAQ</a>
  <a href="/login">Log in</a>
  <a href="/sign-up">Create account</a>
  <a href="/comming-soon">Contact support</a>
</div>
