<aside class="sidebar hidden" id="sidebar">
  <img
    src="./images/panel-right-close.svg"
    class="menu-toggle close"
    onclick="toggleSidebar()"
    alt="close side bar"
  />

  <h2>My Drive</h2>
  <ul>
    <a class="dashboard-div" href="/">
      <li>
        <img src="/images/layout-dashboard.svg" alt="" /><span class="dashboard"
          >Dashboard</span
        >
      </li>
    </a>
    <a href="/folders">
      <li>
        <img src="/images/folder.svg" alt="" />
        <span class="folderSide">My Folders</span>
      </li>
    </a>
    <a class="allfiles" href="/files">
      <li>
        <img src="/images/files.svg" alt="" />
        <span class="fileSide">All Files</span>
      </li>
    </a>
    <a href="/upload-file">
      <li>
        <img src="/images/upload.svg" alt="" />
        <span class="uploadSide">Upload File</span>
      </li>
    </a>
    <a href="/upload-folder">
      <li>
        <img src="/images/folder-plus.svg" alt="" />
        <span class="uploadFolderSide">Create Folder</span>
      </li>
    </a>
  </ul>
</aside>
