<div id="upload-animation">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="75"
    height="75"
    viewBox="0 0 24 24"
    fill="#4da6ff"
  >
    <path d="M5 17h14v2H5zm7-12l5 5h-3v4h-4v-4H7z" />
  </svg>
</div>
