<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/success&error.css" />
    <link rel="stylesheet" href="/css/uploadfolders.css" />
    <link rel="icon" href="/images/cloud.svg" type="image/svg+xml" />
    <title>Create Folder - My Drive</title>
  </head>
  <body>
    <img
      src="/images/panel-left-close.svg"
      alt="toggle side bar"
      class="menu-toggle"
      onclick="toggleSidebar()"
    />
    <div class="container">
      <%- include('sidebar.ejs')%>
      <main class="main">
        <%- include('welcome.ejs')%>
        <h1>Create New Folder</h1>
        <%- include('uploadLoading.ejs')%> <%- include('flash.ejs')%>
        <form action="/upload-folder" method="POST">
          <label for="folderName">Folder Name:</label>
          <input
            type="text"
            id="folderName"
            name="folderName"
            placeholder="e.g. Documents"
            required
          />
          <button type="submit">Create Folder</button>
        </form>
      </main>
    </div>

    <script>
      function toggleSidebar() {
        document.getElementById("sidebar").classList.toggle("hidden");
      }
      function addActiveIndicator(element) {
        const elementDiv = document.querySelector(`.${element}`);
        console.log(elementDiv);
        if (elementDiv) {
          elementDiv.classList.add("active");
        }
      }

      addActiveIndicator("uploadFolderSide");

      document.addEventListener("DOMContentLoaded", () => {
        const flashMessages = document.querySelectorAll(
          ".flash-success, .flash-error"
        );
        flashMessages.forEach((msg) => {
          setTimeout(() => {
            msg.style.display = "none";
          }, 4000);
        });
      });
      document.querySelector("form").addEventListener("submit", function () {
        // Show SVG animation
        document.getElementById("upload-animation").style.display = "block";

        // Optional: Hide any existing flash messages immediately
        document
          .querySelectorAll(".flash-success, .flash-error")
          .forEach((msg) => {
            msg.style.display = "none";
          });
      });
    </script>
  </body>
</html>
